In [52]:
import numpy as np

In [53]:
import pandas as pd

In [54]:
import math
from ipykernel import kernelapp as app
import sys
import seaborn as sns

In [55]:
data = pd.read_csv('ryanair.csv')

In [80]:
data.head()

  Source Target
0    AAR    GRO
1    AAR    STN
2    ABZ    DUB
3    AGA    MRS
4    AGP    BHX

In [57]:
airports=pd.read_csv('airportscsv.csv')

In [79]:
'ZAZ' in data.Source.values

True

In [81]:
airports.head()

    id   Latitude   Longitude
0  1Z8  11.340750  162.327861
1  7AK  59.361247 -155.258822
2  AAA -17.352606 -145.509956
3  AAC  31.073300   33.835800
4  AAE  36.822225    7.809167

In [90]:
def airport_id_exist(airport):
    if airport['id'] in data.Source.values:
        #  or airport['id'] in data.Target.values
        return True
    else:
        return False

In [94]:
type(data.Source.values.tolist())

list

In [100]:
existed_airports_set = set(data.Source.values.tolist() + data.Target.values.tolist())

In [96]:
len(existed_airports)

143

In [101]:
existed_airports = airports[airports['id'].isin(existed_airports_set)]

In [103]:
existed_airports.to_csv('./existed_airports.csv')