In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import math
from ipykernel import kernelapp as app
import sys
import seaborn as sns

In [4]:
data = pd.read_csv('easyjet.csv')

In [5]:
data.head()

  Source Target
0    ABZ    LTN
1    ACE    LGW
2    ACE    MAD
3    AGP    BFS
4    AGP    BRS

In [7]:
airports=pd.read_csv('airportscsv.csv')

In [18]:
'ACE' in data.Source.values

True

In [9]:
airports.head()

    id  Latitude   Longitude
0  GKA -6.081689  145.391881
1  MAG -5.207083  145.788700
2  HGU -5.826789  144.295861
3  LAE -6.569828  146.726242
4  POM -9.443383  147.220050

In [10]:
def airport_id_exist(airport):
    if airport['id'] in data.Source.values:
        #  or airport['id'] in data.Target.values
        return True
    else:
        return False

In [11]:
type(data.Source.values.tolist())

list

In [12]:
existed_airports_set = set(data.Source.values.tolist() + data.Target.values.tolist())

In [13]:
len(existed_airports_set)

105

In [14]:
existed_airports = airports[airports['id'].isin(existed_airports_set)]

In [15]:
len(existed_airports)

107

In [16]:
existed_airports.to_csv('./existed_airports_ez.csv')