In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import math
from ipykernel import kernelapp as app
import sys
import seaborn as sns

In [4]:
data = pd.read_csv('easyjet.csv')

In [5]:
data.head()

  Source Target
0    ABZ    LTN
1    ACE    LGW
2    ACE    LPL
3    ACE    MAD
4    AGA    CDG

In [6]:
airports=pd.read_csv('airportscsv.csv')

In [7]:
'ZAZ' in data.Source.values

False

In [8]:
airports.head()

    id  Latitude   Longitude
0  GKA -6.081689  145.391881
1  MAG -5.207083  145.788700
2  HGU -5.826789  144.295861
3  LAE -6.569828  146.726242
4  POM -9.443383  147.220050

In [9]:
def airport_id_exist(airport):
    if airport['id'] in data.Source.values:
        #  or airport['id'] in data.Target.values
        return True
    else:
        return False

In [10]:
type(data.Source.values.tolist())

list

In [11]:
existed_airports_set = set(data.Source.values.tolist() + data.Target.values.tolist())

In [12]:
print(len(existed_airports_set))
print(existed_airports_set)

106
{'ORY', 'TFS', 'ZAG', 'MPL', 'MJV', 'EDI', 'PFO', 'BOD', 'LBA', 'BFS', 'VLC', 'LPL', 'SAW', 'JER', 'NTE', 'MLA', 'AGA', 'AMS', 'PSA', 'FAO', 'LGW', 'CDG', 'OTP', 'MXP', 'PRG', 'BIO', 'FCO', 'LEI', 'ALC', 'TNG', 'LYS', 'ATH', 'TLV', 'GVA', 'ABZ', 'GIB', 'SSH', 'STN', 'SZG', 'BSL', 'LJU', 'BRS', 'NCE', 'DTM', 'SXF', 'CMN', 'FNC', 'AJA', 'ACE', 'BDS', 'GNB', 'SOF', 'VCE', 'LCA', 'KRK', 'INV', 'VIE', 'LIS', 'BHX', 'CIA', 'MUC', 'TLL', 'RAK', 'CTA', 'GOT', 'MAD', 'ZRH', 'BIQ', 'ARN', 'HEL', 'MAN', 'HAM', 'LXR', 'NCL', 'OLB', 'BRI', 'CGN', 'BCN', 'SUF', 'BIA', 'AGP', 'BES', 'BOH', 'LPA', 'LIN', 'MRS', 'IOM', 'NAP', 'CPH', 'FUE', 'BUD', 'OVD', 'HRG', 'SKG', 'OPO', 'CAG', 'PMO', 'TLS', 'PMI', 'BRU', 'INN', 'BHD', 'FEZ', 'DUS', 'LTN', 'GLA'}

In [13]:
existed_airports = airports[airports['id'].isin(existed_airports_set)]

In [14]:
print(len(existed_airports))
print(existed_airports['id'].values)

106
['BRU' 'SXF' 'HAM' 'CGN' 'DUS' 'MUC' 'DTM' 'TLL' 'HEL' 'BFS' 'BHD' 'BHX'
 'MAN' 'BRS' 'LPL' 'LTN' 'BOH' 'JER' 'LGW' 'LBA' 'IOM' 'NCL' 'ABZ' 'INV'
 'GLA' 'EDI' 'STN' 'AMS' 'CPH' 'KRK' 'GOT' 'ARN' 'FUE' 'LPA' 'ACE' 'TFS'
 'AGA' 'FEZ' 'CMN' 'RAK' 'TNG' 'HRG' 'LXR' 'SOF' 'LCA' 'PFO' 'ZAG' 'ALC'
 'LEI' 'OVD' 'BIO' 'BCN' 'MJV' 'MAD' 'AGP' 'VLC' 'BOD' 'TLS' 'BIQ' 'BIA'
 'AJA' 'LYS' 'GNB' 'MRS' 'NCE' 'MPL' 'CDG' 'ORY' 'BES' 'NTE' 'SKG' 'BUD'
 'BRI' 'BDS' 'SUF' 'CTA' 'PMO' 'CAG' 'OLB' 'MXP' 'LIN' 'VCE' 'CIA' 'FCO'
 'NAP' 'PSA' 'LJU' 'PRG' 'TLV' 'MLA' 'INN' 'SZG' 'VIE' 'FAO' 'OPO' 'LIS'
 'OTP' 'GVA' 'ZRH' 'GIB' 'ATH' 'PMI' 'BSL' 'SSH' 'FNC' 'SAW']

In [15]:
existed_airports.to_csv('./existed_airports_ez.csv')

In [16]:
tmp = 0

In [17]:
for ida in existed_airports_set:
#     print(ida)
#     tmp = tmp+1
#     print(tmp)
    if ida in existed_airports[['id']].values:
        print('1')
    else:
        print(ida)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1