In [1]:
import os

In [2]:
import pandas as pd

In [3]:
real = pd.read_csv("indigo2017.csv")

In [4]:
last = pd.read_csv("indigo2014.csv")

In [5]:
real.head()

  Source Target
0    AMD    BLR
1    AMD    BOM
2    AMD    CCU
3    AMD    DEL
4    AMD    GOI

In [6]:
len(real)

227

In [7]:
last.head()

  Source Target
0    AMD    BLR
1    AMD    BOM
2    AMD    CCU
3    AMD    DEL
4    AMD    GOI

In [9]:
len(last)

209

In [10]:
real_minus_laset = pd.concat([real, last, last]).drop_duplicates(keep=False)

In [11]:
real_minus_laset.shape

(22, 2)

In [12]:
real_minus_laset.to_csv('newroutes_indi.csv')