In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import math
from ipykernel import kernelapp as app
import sys
import seaborn as sns

In [4]:
data = pd.read_csv('ryanair.csv')

In [5]:
data.head()

  Source Target
0    AAR    AGP
1    AAR    PMI
2    AAR    STN
3    ACE    BCN
4    ACE    BGY

In [6]:
airports=pd.read_csv('airportscsv.csv')

In [7]:
'ZAZ' in data.Source.values

True

In [8]:
airports.head()

    id  Latitude   Longitude
0  GKA -6.081690  145.391998
1  MAG -5.207080  145.789001
2  HGU -5.826790  144.296005
3  LAE -6.569803  146.725977
4  POM -9.443380  147.220001

In [9]:
def airport_id_exist(airport):
    if airport['id'] in data.Source.values:
        #  or airport['id'] in data.Target.values
        return True
    else:
        return False

In [10]:
type(data.Source.values.tolist())

list

In [11]:
existed_airports_set = set(data.Source.values.tolist() + data.Target.values.tolist())

In [12]:
print(len(existed_airports_set))

176

In [14]:
existed_airports = airports[airports['id'].isin(existed_airports_set)]

In [15]:
len(existed_airports)

175

In [16]:
existed_airports.to_csv('./existed_airports.csv')

In [17]:
for ida in existed_airports_set:
#     print(ida)
#     tmp = tmp+1
#     print(tmp)
    if ida in existed_airports[['id']].values:
        print('1')
    else:
        print(ida)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
LUZ
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1