In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import math
from ipykernel import kernelapp as app
import sys
import seaborn as sns

In [6]:
data = pd.read_csv('newroutes_indi.csv')

In [7]:
data.head()

  Source Target
0    BBI    BLR
1    BLR    BBI
2    BLR    VTZ
3    BOM    GAU
4    CCU    IXB

In [11]:
airports=pd.read_csv('airportscsv.csv')

In [12]:
'ZAZ' in data.Source.values

False

In [13]:
airports.head()

    id  Latitude   Longitude
0  GKA -6.081690  145.391998
1  MAG -5.207080  145.789001
2  HGU -5.826790  144.296005
3  LAE -6.569803  146.725977
4  POM -9.443380  147.220001

In [14]:
def airport_id_exist(airport):
    if airport['id'] in data.Source.values:
        #  or airport['id'] in data.Target.values
        return True
    else:
        return False

In [15]:
type(data.Source.values.tolist())

list

In [16]:
existed_airports_set = set(data.Source.values.tolist() + data.Target.values.tolist())

In [17]:
print(len(existed_airports_set))

14

In [18]:
existed_airports = airports[airports['id'].isin(existed_airports_set)]

In [19]:
len(existed_airports)

13

In [20]:
existed_airports.to_csv('./existed_airports_indigo_new.csv')

In [21]:
for ida in existed_airports_set:
#     print(ida)
#     tmp = tmp+1
#     print(tmp)
    if ida in existed_airports[['id']].values:
        print('1')
    else:
        print(ida)

HYD
1
1
1
1
1
1
1
1
1
1
1
1
1