In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import math
from ipykernel import kernelapp as app
import sys
import seaborn as sns

In [4]:
data = pd.read_csv('ryanair.csv')

In [5]:
data.head()

  Source Target
0    AAR    STN
1    ABZ    DUB
2    ACE    BHX
3    ACE    BOH
4    ACE    BRS

In [6]:
airports=pd.read_csv('airportscsv.csv')

In [7]:
'ZAZ' in data.Source.values

True

In [8]:
airports.head()

    id  Latitude   Longitude
0  GKA -6.081689  145.391881
1  MAG -5.207083  145.788700
2  HGU -5.826789  144.295861
3  LAE -6.569828  146.726242
4  POM -9.443383  147.220050

In [9]:
def airport_id_exist(airport):
    if airport['id'] in data.Source.values:
        #  or airport['id'] in data.Target.values
        return True
    else:
        return False

In [10]:
type(data.Source.values.tolist())

list

In [11]:
existed_airports_set = set(data.Source.values.tolist() + data.Target.values.tolist())

In [12]:
print(len(existed_airports_set))
print(existed_airports_set)

135
{'TRS', 'VST', 'DNR', 'LDY', 'RMI', 'VLC', 'VBS', 'BTS', 'RDZ', 'TNG', 'TUF', 'KUN', 'GRX', 'LCJ', 'GRZ', 'SZZ', 'PSA', 'BRS', 'SDR', 'HAU', 'NDR', 'LPL', 'BUD', 'RZE', 'TFS', 'PMF', 'AOI', 'BZR', 'LIL', 'REU', 'BSL', 'BZG', 'LGW', 'HHN', 'TRN', 'LEI', 'BGY', 'BDS', 'AGP', 'KRK', 'MAD', 'CAG', 'NOC', 'PGF', 'LRH', 'GRO', 'EIN', 'AOC', 'FNI', 'SZG', 'POZ', 'BES', 'GDN', 'PEG', 'NYO', 'CND', 'GOA', 'TSF', 'EBU', 'RYG', 'PMO', 'VXO', 'BVA', 'SCQ', 'SVQ', 'SUF', 'AHO', 'AGA', 'LTN', 'LBC', 'EMA', 'NCL', 'DUB', 'MLA', 'ORK', 'PUF', 'BLQ', 'CRL', 'FEZ', 'FAO', 'BOH', 'VLL', 'LPA', 'NTE', 'LIG', 'GSE', 'IBZ', 'KTW', 'ALC', 'SXF', 'KLU', 'CIA', 'BLL', 'PIS', 'TMP', 'MPL', 'RIX', 'ZAZ', 'MST', 'BRQ', 'AAR', 'ABZ', 'OPO', 'EDI', 'PMI', 'CUF', 'KIR', 'BRI', 'TPS', 'XRY', 'PRG', 'EGC', 'LNZ', 'LBA', 'PIK', 'PSR', 'RAK', 'CCF', 'WRO', 'NRN', 'BIQ', 'MJV', 'BRE', 'BHX', 'FKB', 'MAN', 'ACE', 'TRF', 'BHD', 'MRS', 'FSC', 'FDH', 'FMM', 'SNN', 'STN'}

In [13]:
existed_airports = airports[airports['id'].isin(existed_airports_set)]

In [14]:
print(len(existed_airports))
print(existed_airports['id'].values)

134
['CRL' 'AOC' 'SXF' 'BRE' 'HHN' 'LBC' 'FDH' 'TMP' 'BHD' 'LDY' 'BHX' 'MAN'
 'BRS' 'LPL' 'LTN' 'BOH' 'LGW' 'LBA' 'NCL' 'EMA' 'ABZ' 'EDI' 'PIK' 'STN'
 'MST' 'EIN' 'ORK' 'DUB' 'NOC' 'KIR' 'SNN' 'AAR' 'BLL' 'HAU' 'TRF' 'GDN'
 'KRK' 'KTW' 'POZ' 'RZE' 'SZZ' 'WRO' 'GSE' 'NYO' 'VXO' 'VST' 'LPA' 'ACE'
 'TFS' 'AGA' 'FEZ' 'RAK' 'TNG' 'ALC' 'LEI' 'GRO' 'GRX' 'IBZ' 'XRY' 'MJV'
 'MAD' 'AGP' 'REU' 'SCQ' 'VLC' 'VLL' 'SDR' 'ZAZ' 'SVQ' 'EGC' 'PIS' 'LIG'
 'PUF' 'BIQ' 'RDZ' 'FSC' 'EBU' 'CCF' 'MRS' 'PGF' 'MPL' 'BZR' 'BVA' 'TUF'
 'LIL' 'BES' 'DNR' 'NTE' 'FNI' 'BUD' 'BRI' 'PSR' 'BDS' 'SUF' 'PMO' 'TPS'
 'AHO' 'CAG' 'BGY' 'TRN' 'GOA' 'PMF' 'CUF' 'BLQ' 'TSF' 'VBS' 'TRS' 'RMI'
 'CIA' 'PSA' 'PEG' 'PRG' 'BRQ' 'MLA' 'GRZ' 'LNZ' 'SZG' 'FAO' 'OPO' 'CND'
 'BTS' 'RIX' 'KUN' 'FMM' 'PMI' 'BSL' 'FKB' 'NRN' 'AOI' 'KLU' 'NDR' 'LCJ'
 'BZG' 'LRH']

In [15]:
existed_airports.to_csv('./existed_airports.csv')

In [16]:
tmp = 0

In [17]:
for ida in existed_airports_set:
#     print(ida)
#     tmp = tmp+1
#     print(tmp)
    if ida in existed_airports[['id']].values:
        print('1')
    else:
        print(ida)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
RYG
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1